<div class="contacts container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless">
                <thead>
                  <tr class="align-top">
                    <th scope="col">HOME&YOU</th>
                    <th scope="col">CUSTOMER SERVICE</th>
                    <th scope="col">BENEFITS</th>
                    <th scope="col">CONTACT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="align-top">
                    <td class="col-md-3"><a href="#">Store location</a></td>
                    <td class="col-md-3"><a href="#">Terms & Conditions</a></td>
                    <td class="col-md-3"><a href="#">Gift card</a></td>
                    <td class="col-md-3">BBK S.A.</td>
                  </tr>
                  <tr class="align-top">
                    <td><a href="#">Careers</a></td>
                    <td><a href="#">Help</a></td>
                    <td><a href="#">Loyalty card</a></td>
                    <td>ul. Magnacka 15A</td>
                  </tr>
                  <tr class="align-top">
                    <td><a href="#">Contact us</a></td>
                    <td><a href="#">Payment & Shipping</a></td>
                    <td><a href="#">Home profit</a></td>
                    <td>80-180 Kowale</td>
                  </tr>
                  <tr class="align-top">
                    <td><a href="#">Press</a></td>
                    <td><a href="#">Complaint</a></td>
                    <td></td>
                    <td>If you are interested in cooperation in your country, please contact us by email:</td>
                  </tr>
                  <tr class="align-top">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">export@bbk.com.pl</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>