@import url('../../shared/styles/_fonts.scss');

header {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
}

.active {
    color: #bb0029 !important;
    font-family: 'Montserrat-700',Arial, Helvetica, sans-serif;
}