<header class="col-md-12 d-flex flex-wrap justify-content-center align-content-center align-items-center sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="[ '' ]">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/bedroom' ]" routerLinkActive="active">Bedroom</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/living-room' ]" routerLinkActive="active">Living Room</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/bathroom' ]" routerLinkActive="active">Bathroom</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/kitchen' ]" routerLinkActive="active">Kitchen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/dining-room' ]" routerLinkActive="active">Dining Room</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/products/accessories' ]" routerLinkActive="active">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link sale" [routerLink]="[ '/sale' ]" routerLinkActive="active">SALE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/search' ]" routerLinkActive="active">Search-icon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/profile' ]" routerLinkActive="active">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/checkout' ]" routerLinkActive="active">Checkout-icon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/admin' ]" routerLinkActive="active">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>