<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="search" style="margin-bottom: 20px;">
          <!-- <select class="form-control" id="sorting" formControlName="sorting">
              <option selected>sort</option>
              <option>price low to high</option>
              <option>price high to low</option>
              <option>name A-Z</option>
              <option>name Z-A</option>
          </select> -->
        </div>
        <div class="row row-cols-2 row-cols-md-3 g-4">
          <div class="col" *ngFor="let item of allProducts | searchProduct: searchTerm">
          <!-- <div class="col" *ngFor="let item of allProducts | orderBy: 'price'"> -->
          <!-- <div class="col" *ngFor="let item of allProducts | orderBy: '-price'"> -->
          <!-- <div class="col" *ngFor="let item of allProducts | orderBy: 'productName'"> -->
          <!-- <div class="col" *ngFor="let item of allProducts | orderBy: '-productName'"> -->
            <div class="card h-100 text-center">
              <img [src]="item.productImage" class="card-img-top">
              <div class="card-body">
                <a [routerLink]="[ '/products-info', item.id ]">
                  <h5 class="card-title">{{ item.productName }}</h5>
                </a>
                <span class="card-text">{{ item.price }}</span>
                <span class="card-text"> pln</span>
              </div>
              <div class="d-flex flex-column position-absolute top-50 start-50 translate-middle more-info">
                <a [routerLink]="[ '/products-info', item.id ]">
                  <div class="d-flex align-items-center justify-content-center get-info">see product</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
