@font-face {
    font-family: 'Montserrat-700';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-400';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}