@import url('../../shared/styles/_fonts.scss');

.card {
    border: none;
}

.sale {
    margin-top: 20px;
}

.living-room {
    margin-top: 20px;
}

.kitchen {
    margin-top: 20px;
}

.bathroom {
    margin-top: 20px;
}

.brands {
    margin-top: 100px;
    margin-bottom: 100px;
}

.brands-text {
    font-family: 'Montserrat-700',Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.brands-logos {
    margin-top: 50px;
}

.brand {
    height: 40px;
    opacity: 25%;
}

.brand:hover {
    opacity: 100%;
}