<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card sale-text" [routerLink]="[ '/sale' ]" routerLinkActive="active">
                <h2 class="text-center text-wrap" style="width: 6rem">SALE -30%</h2>
            </div>
        </div>
        <div class="col-8">
            <div class="card sale-image" [routerLink]="[ '/sale' ]" routerLinkActive="active">Sale picture</div>
        </div>
        <div class="col-12">
            <div class="card living-room" [routerLink]="[ '/products/living-room' ]" routerLinkActive="active">Living room picture</div>
        </div>
        <div class="col-6">
            <div class="card kitchen" [routerLink]="[ '/products/kitchen' ]" routerLinkActive="active">Kitchen picture</div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <div class="card bathroom" [routerLink]="[ '/products/bathroom' ]" routerLinkActive="active">Bathroom picture</div>
                <div class="card bedroom" [routerLink]="[ '/products/bedroom' ]" routerLinkActive="active">Bedroom picture</div>
            </div>
        </div>
    </div>
</div>
<div class="brands container">
    <div class="brands-text text-center" style="font-weight: bold;">WE (red-heart-icon) BRANDS</div>
    <div class="brands-logos row justify-content-around">
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-1">
        </div>
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-2">
        </div>
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-3">
        </div>
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-4">
        </div>
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-5">
        </div>
        <div class="card" style="width: 10rem;">
            <img src="..." alt="logo-6">
        </div>
    </div>
</div>