// .card {
//     border: none;
// }

.sale-text {
    height: 90vh;
    margin-top: 20px;
}

.sale-image {
    height: 90vh;
    margin-top: 20px;
}

.living-room {
    height: 90vh;
    margin-top: 20px;
}

.kitchen {
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bathroom {
    height: 43.5vh;
    margin-top: 20px;
}

.bedroom {
    height: 43vh;
    margin-top: 20px;
}

.brands {
    min-height: 30vh;
    margin-top: 100px;
}

.brands-logos {
    margin-top: 50px;
}