@import url('../../shared/styles/_fonts.scss');

.card {
    border: none;
    margin-top: 30px;
}

form {
    margin-top: 30px;
}

table {
    margin-top: 30px;
}

h5 {
    font-family: 'Montserrat-700',Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
}

.prodName {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
}

.prodQuantity {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}

.prodPrice {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}

.plus-minus {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 20px;
    height: 20px;
    background-color: #a1a1a1;
    color: #fff;
    border: none;
}

.quantity {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    text-align: center;
}

.removeItem {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    height: 30px;
    background-color: #bb0029;
    text-align: center;
    border: none;
}

.confirmOrder {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    height: 40px;
    background-color: #bb0029;
    text-align: center;
    border: none;
}

.totalPrice {
    font-family: 'Montserrat-700',Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

input {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input::placeholder {
    font-family: 'Montserrat-400',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}

.emptyCart {
    margin: 50px auto 0;
    text-align: center;
}